.flex-item {
    flex: 1 0 33.33%;
    /* This will ensure that each item takes up approximately a third of the row */
}

.policies-grid {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 0 0 calc(33.333333% - 20px);
    /* Adjust the percentage and subtract the desired margin */
    margin: 10px;
}

.big-button {
    width: 50px;
    height: 50px;
}